@model IEnumerable<BASE_COBRANZAS_V2.Models.Beans.status_poder_judicial>

@{
    ViewData["Title"] = "Estatus Poder Judicial";
    Layout = "~/Views/Shared/_layoutMstr.cshtml";
}

<h1 class="font-weight-bold text-center">Status Poder Judicial</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CODIGO
            </th>
            <th>
                ACCION
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_STATUS_PODER_JUDICIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCION)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.ID_STATUS_PODER_JUDICIAL },new{@class="btn btn-primary",@role="button"}) |
                    <a onclick="confirmDelete('@item.ID_STATUS_PODER_JUDICIAL')" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div style="text-align:center">
    @for (int i = 0; i < (int)ViewBag.paginas; i++)
    {
        @Html.ActionLink((i+1).ToString(),"listar_status_judicial","Status_judicial",new{p=i}, new{@class="btn btn-danger"})
        ;
    }

</div>
@section scripts {
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: "¿Seguro que quieres eliminar?",
                text: "Esta acción no se puede deshacer",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirige a la acción Delete con el id del procurador
                    $.post({
                        url: "/Status_poder_judicial/Delete?ID_STATUS_PODER_JUDICIAL=" + id,  // Corrección aquí
                        success: function (r) {
                            window.location = "/Status_poder_judicial/listar_status_poder_judicial";  // Corrección aquí
                        }
                    });
                }
            });
        }
    </script>
    }