@model IEnumerable<BASE_COBRANZA_V2.Models.Beans.Base_General>

@{
    ViewData["Title"] = "Base General";
    Layout = "~/Views/Shared/_layoutMstr.cshtml";   
    var stocks = ViewBag.stock as IEnumerable<BASE_COBRANZA_V2.Models.Beans.Stock>;
    decimal? Gasto_clientes_total=0;
    @foreach (var item in Model)
    {
        Gasto_clientes_total += item.GastosCobranza + item.GastosCochera_Total + item.Penalidad + item.Mora_Total;     
    }
}

<h1 class="font-weight-bold text-center">Base General</h1>
<br />

<div class="caja">  
    <p>
        <a asp-action="Create" class="btn btn-warning"><i class='bx bx-folder-plus'></i> Nuevo</a>
    </p>
    <form asp-controller="Base_General" asp-action="listar_base">
        <p>
            Buscar Album: <input type="number" name="Album" class="form-number"/>
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
        </p>
    </form>
    <p>Total: $@Gasto_clientes_total</p>
</div>
<div class="table-responsive">
<table class="table table-bordered align-content-center">
    <thead>
        <tr class="table-primary">
            <th class="text-center">
                Album
            </th>
                <th class="text-center">
                Fecha de consignación
            </th>
                <th class="text-center">
                Número de contrato
            </th>
                <th class="text-center">Nombre del propietario</th>
                <th class="text-center">
                Celular
            </th>
                <th class="text-center">
                Tipo de penalidad
            </th>
                <th class="text-center">
                Pagaré
            </th>
                <th class="text-center">
               Fecha de cobro
            </th>
                <th class="text-center">
                Penalidad
            </th>
                <th class="text-center">
                Mora
            </th>
                <th class="text-center">
                Gasto total
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var stockItem = stocks.FirstOrDefault(stock => stock.ID_STOCK == item.IdStock);
            <tr>
                @if (stockItem != null){
            <td>                    
                        @stockItem.ALBUM    
            </td>
                    <td>
                        @stockItem.FECHA_CONSIGNACION.ToShortDateString()
                    </td>
                    <td>
                        @stockItem.CONTRATO
                    </td>
                        <td style="white-space: nowrap;" class="text-center">
                        @stockItem.NOMBRE_PROPIETARIO
                    </td>
                    <td>
                        @stockItem.CELULAR
                    </td>
                    <td>
                        @stockItem.TIPO_PENALIDAD
                    </td>
                    <td>
                        @stockItem.PAGARE
                    </td>
              }
             <td>
                    @item.FechaCobro.ToShortDateString()
                </td>
                <td>
                    $@item.Penalidad
                </td>
                <td>
                    $@item.Mora_Total
                </td>
                <td>
                    $@item.GastoTotal
                </td>
            <td>
                    @Html.ActionLink(" Editar", "Edit", new { id=item.IdBase },new{@class="btn btn-primary bx bx-pencil",@role="button"})
            </td>
                
                    
            <td>        
                    <a onclick="confirmDelete('@item.IdBase')" class="btn btn-danger bx bx-trash"> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<br />
<div style="text-align:center">
    @for (int i = 0; i < (int)ViewBag.paginas; i++)
    {
        if (i == ViewBag.currentPage)
        {
            @Html.ActionLink((i + 1).ToString(), "listar_base", "Base_General", new { p = i }, new { @class = "btn btn-info page-button current-page" })
            ;
        }
        else if (i == 0 || i == ViewBag.paginas - 1 || Math.Abs(i - ViewBag.currentPage) <= 2)
        {
            @Html.ActionLink((i + 1).ToString(), "listar_base", "Base_General", new { p = i }, new { @class = "btn btn-info page-button" })
            ;
        }
        else if (i == 1 || i == ViewBag.paginas - 2)
        {
            <span>...</span>
        }
    }
</div>



